.knife {
    width: 1000px;
    height: 350px;
    background-color: #de45de;
    border: 2px solid red;
}
.hole {
    width: 200px;
    position: absolute;
    bottom: 260px;
    left: 520px;
    height: 200px;
    background-color: black;
    z-index: 2;
    clip-path: circle(100px at 100px 100px);
}
.hole::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    clip-path: circle(75px at 100px 100px);
}

.handle {
    position: absolute;
    z-index: 1;
    bottom: 280px;
    width: 400px;
    height: 150px;
    background-color: black;
    clip-path: polygon(0% 25%,
                      25% 0%,
                      75% 0%, 
                     100% 25%, 
                     100% 75%,
                      75% 100%,
                      25% 100%,
                       0% 75%);
}
.blade {
    width: 500px;
    height: 300px;
    background-color: red;
    position: absolute;
    right: 0;
}